__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
ENV/
.ipynb_checkpoints/

*.asv
*.mat
.matlab/

*.csv
*.xlsx
*.xls
*.json

.DS_Store
.AppleDouble
.LSOverride
Thumbs.db
ehthumbs.db
Desktop.ini

.vscode/
.idea/
